.tmp/
.test/
.DS_Store
bower_components/
node_modules/
node_modules_es/
.dist/
esdoc/
.sublime-gulp.cache

.idea
.test
.bowerrc
typings
jsconfig.json
.jsbeautifyrc

tsd-debug.log
debug.log

/IconFont/*.ttf
/IconFont/*.woff
/IconFont/*.woff2
