@base-font-size: 14px;
//flex 布局-容器（方向，交叉轴，主轴）
.flex-container(@direction, @align: stretch, @justify: flex-start) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

@color-background: #fafafa;
@color-hover: #ebebeb;
@color-active: #1E88E5;

@shadow-1dp: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
0px 1px 1px 0px rgba(0, 0, 0, 0.14),
0px 2px 1px -1px rgba(0, 0, 0, 0.12);
@normal-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
0px 2px 2px 0px rgba(0, 0, 0, 0.14),
0px 3px 1px -2px rgba(0, 0, 0, 0.12);
@normal-shadow-up: 0px -1px 3px 0px rgba(0, 0, 0, 0.1),
0px -2px 1px 0px rgba(0, 0, 0, 0.14),
0px -3px 1px -2px rgba(0, 0, 0, 0.1);