@import './_variable.less';
body {
    font-size: @base-font-size;
}

* {
    outline: none;
}

#Editor {
    width: 90%;
    height: 400px;
    margin: 50px auto 0;
    border: 1px dashed #dadada;
}

.ee-box {
    padding: 0;
    .flex-container(column);
    position: relative;
}

@import './toolbar.less';
@import './view.less';
@import './popover.less';