.ee-popover {
    position: absolute;
    display: none;
    z-index: 10;
    .ee-pop-toolbar {
        height: 36px;
        line-height: 36px;
        padding: 0 3px;
        .pop-container();
    }
}