@toolbar-height: 40px;
@button-size: 36px;
.ee-toolbar {
    height: @toolbar-height;
    .flex-container(row, center, center);
    background-color: @color-background;
    box-shadow: @normal-shadow;
    width: 100%;
    z-index: 5;
    .divider {
        width: 1px;
        background-color: @color-hover;
        height: 32px;
        margin: 0 1px;
    }
}

.ee-button {
    min-width: @button-size;
    height: @button-size;
    line-height: @button-size;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 0 1px;
    transition: all ease-in-out 200ms;
    .fa {
        font-size: 16px;
    }
    &:hover {
        background-color: @color-hover;
    }
    &.active {
        .fa {
            color: @color-active;
        }
    }
}