.ee-view {
    line-height: 1.5;
    font-size: 16px;
    p {
        margin: 0;
    }
    a {
        cursor: pointer;
        color: @color-active;
    }
    pre {
        white-space: pre-wrap;
    }
}