.ee-view {
    line-height: 1.5;
    font-size: 16px;
    p {
        margin: 0;
    }
    a {
        cursor: pointer;
        color: @color-active;
    }
    pre {
        white-space: pre-wrap;
        background-color: rgba(200, 200, 200, 0.5);
        padding: 8px 16px;
    }
    blockquote {
        border-left: 6px solid rgba(0, 0, 0, .26);
        padding: 8px 16px;
        background-color: #f5f5f5;
        margin: 24px 0;
    }
}